.estadisticas-dashboard {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  padding: 10px;
}

.dashboard-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
  max-height: 800px;
  /* Flexbox para centrar el contenido */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-card-title {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #343a40;
  text-align: center;
  margin-top: 10px; /* Elimina el espacio superior */

}


.doughnut-container {
  width: 90%;
  height: 100%;
  margin-top: 30px;
}

/* Responsividad específica para pantallas pequeñas */
@media (max-width: 600px) {
  .dashboard-card-title {
      font-size: 1.2rem;
      text-align: center;
  }

  .dashboard-card {
      padding: 15px;
      margin-bottom: 10px;
  }

  .estadisticas-dashboard {

    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  }

  .inventario-select {
    font-size: 1rem;
    max-width: 100%; /* Usa todo el ancho del contenedor en pantallas pequeñas */
}
.inventario-select-label {
  font-size: 0.9rem;
}
  .doughnut-container {
    width: 'auto';
    height: 'auto';
}

}
