.login-button {
    background-color: #21a99b; /* Turquesa */
    color: #fff;
    text-decoration: none; /* Quitar subrayado */
}

.signup-button {
    background-color: #cf9c01; /* Dorado */
    color: #fff;
}

.recover-button {
    background-color: #bc0d8d; /* Damasco */
    color: #fff;
}

.button {
    padding: 15px;
    margin: 5px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
}

.login-button,
.signup-button,
.recover-button {
    width: 100%;
}

.logout-button {
    height: 100%;
    width: 100%;
    background-color: #bc221d;
    color: white;
    display: flex;
    justify-content: center; /* Centra el texto horizontalmente */
    align-items: center; /* Centra el texto verticalmente */
}

.button:hover {
    opacity: 0.8;
}

/* Estilos simplificados para el botón de "Info" */
.btn-info {
    background-color: #0005a2; /* Azul de Info */
    color: white; /* Color del texto */
    border: none;
    margin-right: 5px;
}

.btn-info:hover {
    background-color: rgb(69, 23, 168); /* Color al pasar el ratón */
}

/* Estilos simplificados para el botón de "Excel" */
.btn-success {
    background-color: #177a2c; /* Verde para el botón de Excel */
    color: white; /* Color del texto */
    border: none;
    margin-right: 5px;
}

.btn-success:hover {
    background-color: #19682a; /* Verde más oscuro al pasar el ratón */
}

/* Estilos simplificados para el botón de "Excel" */
.btn-delete {
    background-color: #e01e00; /* Verde para el botón de Excel */
    color: white; /* Color del texto */
    border: none;
    margin-right: 5px;
}

.btn-delete:hover {
    background-color: #b11800; /* Verde más oscuro al pasar el ratón */
}

/* Estilos simplificados para el botón de "Excel" */
.btn-create {
    background-color: #cf9c01; /* Verde para el botón de Excel */
    color: white; /* Color del texto */
    border: none;
    margin-right: 5px;
}

.btn-create:hover {
    background-color: #ae8302; /* Verde más oscuro al pasar el ratón */
}

.button.btn-edit {
    background-color: #1f1fb5; /* Verde para el botón de Excel */
    color: white; /* Color del texto */
    border: none;
    margin-right: 5px;
}

.button.btn-edit:hover {
    background-color: #0e0e67; /* Verde más oscuro al pasar el ratón */
}

.button-container {
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.button-previous, .button-next, .button-submit {
    background-color: #D5D4D4; /* Color base del botón Atrás */
    color: rgb(0, 0, 0); /* Color del texto */
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center; /* Centra el contenido del botón */
    min-width: 100px; /* Ancho mínimo común para todos los botones */
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 45px; /* Altura fija para todos los botones */

}

/* Específicos para cada botón */
.button-previous {
    background-color: #D5D4D4; /* Color de fondo del botón Atrás */
    color: rgb(0, 0, 0); /* Color del texto */
    margin-right: auto; /* Asegura que el botón Atrás esté pegado a la izquierda */
}

.button-previous svg {
    margin-right: 5px; /* Ajusta el valor según tus necesidades */
}

.button-next {
    background-color: #f5b800; /* Color de fondo del botón Siguiente */
    color: black;
}

.button-next svg {
    margin-left: 5px; /* Ajusta el valor según tus necesidades */
    color: black;

}

.button-submit {
    background-color: #fe5f87;
    color: black;
    margin-left: auto;
}

.button-submit svg {
    color: black;
    margin-right: 8px; /* Ajusta según lo que necesites */
}