/* dashboard.css */

.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
    background-color: #f8f9fa; /* Fondo claro */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dashboard-title {
    font-size: 2.5rem;
    color: #343a40;
    margin-bottom: 20px;
}

.dashboard-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
