/* styles.css */
/* Modal.css */

/* Encabezado morado del modal */
.modal-header-purple {
  background-color: #31004F; /* Morado oscuro */
  color: #ffffff;
  border-bottom: none;
}

/* Centramos el contenido del encabezado del modal */
.modal-header-centered {
  display: flex;
  justify-content: center; /* Centra los elementos horizontalmente */
  align-items: center; /* Centra los elementos verticalmente */
  width: 100%;
  position: relative;
}

/* Ajuste para el botón de cierre */
.modal-header-centered .btn-close {
  position: absolute;
  right: 10px;
}


/* Estilo del título del modal */
.modal-title-centered {
  text-align: center; /* Centra el texto */
  width: 100%; /* Asegura que el título ocupe todo el ancho */
  font-weight: bold; /* Resalta el título */
}

/* Espaciado entre los campos de formulario */
.form-group-custom {
  margin-bottom: 20px; /* Espaciado inferior entre grupos de campos */
}


/* Estilo para el campo de error */
.text-danger {
  font-size: 0.875em; /* Tamaño de letra más pequeño */
  margin-top: 5px; /* Espacio entre el input y el mensaje de error */
}

/* Fondo del cuerpo del modal */
.modal-body-custom {
  background-color: #ecebeb; /* Fondo gris claro para diferenciar del encabezado */
  padding: 20px;
  border-radius: 0 0 5px 5px; /* Añade esquinas redondeadas en la parte inferior */
}

/* Estilo del formulario */
.form-control-custom {
  border-radius: 4px;
  border: 1px solid #ced4da; /* Borde gris claro */
}

.form-control-custom:focus {
  border-color: #6a1b9a; /* Morado cuando se enfoca */
  box-shadow: 0 0 5px rgba(106, 27, 154, 0.5); /* Sombra morada para destacar */
}
